:root {
  --primary-color: rgb(89, 165, 44);
  --white-color: #fff;
  --gray-color: rgb(66, 66, 66);
  --primary-bg-color: #090718;
  --secondary-bg-color: rgb(39, 39, 39);
  --violet-color: #7061d2;
  --label-color: linear-gradient(135deg, #29d5d9, #29d5d9, #7461ec, #7461ec, #29d5d9, #29d5d9, #7461ec, #7461ec, #29d5d9);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white-color);
  background-color: var(--primary-bg-color);
}
